@import 'transaction-breakdown-row/index';

.transaction-breakdown {
  &__title {
    padding: 8px 0px;
    font-size: 14px;
    color: var(--gray-1);
    font-weight: bold;
    text-transform: capitalize;
  }

  &__row-title {
    text-transform: capitalize;
    color: var(--gray-2);
  }

  &__value {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    overflow: hidden;
    text-overflow: ellipsis;


    &--eth-total {
      font-weight: bold;
      color: var(--gray-1);
    }

    &--amount {
      font-weight: bold;
      color: var(--gray-1);
    }

    &.linear-gradient {
      background: var(--secondary-2-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__total{
    margin-top: 16px;
    & .transaction-breakdown-row__title{
      font-weight: bold;
      color: var(--gray-2);
    }
  }
}
