.export-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--gray-2);
  border-radius: 4px;
  font-weight: 400;

  &__text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 4px;
    background: var(--background);
  }

  &__text {
    @include H4;

    resize: none;
    border: none;
    background: var(--background);
    text-align: center;
  }

  &__buttons-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--gray-2);
    width: 100%;
  }

  &__button {
    @include H7;
    @include roundeBold;

    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--secondary-3);

    &--copy {
      border-right: 1px solid var(--gray-2);
    }
  }

  &__button-text {
    padding-left: 10px;
  }
}
