@import 'confirm-page-container-warning/index';
@import 'confirm-page-container-summary/index';

.confirm-page-container-content {
  overflow-y: auto;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background);

  &--with-top-border {
    // border-top: 1px solid var(--geyser);
  }

  &__error-container {
    padding: 0 16px 16px 16px;
  }

  &__details {
    box-sizing: border-box;
    padding: 0 12px;
    background-color: var(--background);
  }

  &__data {
    padding: 16px;
    color: var(--gray-2);
    background: var(--white);
    border-radius: 10px;

    & > .disclosure {
      margin-top: 0;
    }
  }

  &__data-box {
    @include H7;

    background-color: var(--gray-5);
    padding: 12px;
    word-wrap: break-word;
    overflow-y: auto;
    color: var(--gray-3);

    &-label {
      @include H7;
      @include roundeBold;

      color: var(--gray-2);
      text-transform: uppercase;
      padding: 8px 0 12px;
      &>span{
        color: var(--gray-2);
      }
    }
  }

  &__data-field {
    display: flex;
    flex-direction: row;

    &-label {
      font-weight: 500;
      padding-right: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__gas-fee {
    border-bottom: 1px solid var(--geyser);

    .advanced-gas-inputs__gas-edit-rows {
      margin-bottom: 16px;
    }
  }

  &__function-type {
    @include H6;
    @include roundeBold;

    text-transform: capitalize;
    color: var(--gray-1);
    padding-left: 5px;
  }
  & .tabs__list{
    padding-left: 10px;
    border-top: 1px solid var(--gray-4);
    & .tab--active{
      &>button{
        &::after{
          content: "";
          position: absolute;
          bottom: 5px;
          left: 0;
          width: calc(100% - 16px);
          height: 2px;
          background: var(--secondary-2-gradient);
          border-radius: 10px;
          margin: 0px 8px;
        }
      }
    }
  }
  &__tab {
    @include H7;
    @include roundeBold;

    color: var(--black);
    text-transform: uppercase;
    margin: 0 8px;

    & button {
      @include roundeBold;
      font-size: unset;
      color: var(--black);
      text-transform: uppercase;
      position: relative;

    }
  }

  .page-container__footer {
    margin-top: auto;
  }

  &__currency-container,
  &__total-amount,
  &__total-value {
    position: relative;
  }

  &__currency-container-balance {
    @include H7;

    color: var(--black);
  }
}
