.transaction-list-popover{
  &>header{ 
    padding: 0 !important;
    & .popover-header__title{
      padding-bottom: 0 !important;
    }
    & .popover-header__button{
      padding: 13px 13px 0px 0px !important;
    }
  }
}
.transaction-list-item-details {
  div.disclosure + div.disclosure {
    margin-top: 0;
  }

  .sender-to-recipient--flat .sender-to-recipient__party.sender-to-recipient__party--sender {
    padding: 0;
    justify-content: flex-start;
  }

  .sender-to-recipient--flat .sender-to-recipient__party.sender-to-recipient__party--recipient {
    padding: 0;
    justify-content: flex-end;
  }

  &__sender-to-recipient-header {
    display: flex;
    font-size: 14px;
    color: var(--Black-100);
    font-weight: bold;
    padding-bottom: 7px;

    & > div:first-child {
      flex: 1;
    }
  }

  &__tx-status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 44px;
    justify-content: space-between;

    & > div:first-child {
      font-size: 14px;
      color: var(--gray-1);
      font-weight: bold;
    }

    & > div:last-child {
      font-weight: bold;
    }
  }

  &__tx-hash {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .btn-link {
      font-size: 12px;
      line-height: 100%;
      padding: 0;
    }

    & > div:first-child {
      padding-bottom: 16px;
    }
  }

  &__operations {
    margin: 0 0 16px 16px;
    display: flex;
    justify-content: center;
  }

  &__header {
    font-size: 12px;
    margin: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    padding: 8px 16px;
  }

  &__header-buttons {
    display: flex;
    flex-direction: row;
  }

  & &__header-button {
    &-rounded-button {
      @include H8;

      padding: 0 16px;
      margin-right: 8px;
    }

    &-tooltip-container {
      display: flex !important;
      height: 100%;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__sender-to-recipient-container {
    margin-bottom: 8px;

    .sender-to-recipient {
      .sender-to-recipient__party {
        border: none;

        &--sender {
          padding-left: 0;
        }

        &--recipient {
          padding-right: 0;
        }
      }
    }
  }

  &__cards-container {
    display: flex;
    flex-direction: column;
  }

  &__transaction-breakdown {
    flex: 1;
    margin-right: 8px;
    min-width: 0;
    margin: 0 0 8px 0;
  }

  &__transaction-activity-log {
    flex: 2;
    min-width: 0;

    .transaction-activity-log__activities-container {
      padding-top: 0;
    }

    .transaction-activity-log__title {
      display: none;
    }
  }

  &-title{
    text-align: center;
    &-txt{
      @include H3;
      @include roundeBold;
      background: linear-gradient(147.15deg, var(--primary-start) 29.03%, var(--primary-end) 84.89%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__address{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--gray-4);
    border-bottom: 1px solid var(--gray-4);
    padding:16px 0px;
    position: relative;
    &>div{
      color:var(--gray-1);
      @include H5;
      @include roundeBold;
      &>div{
        margin-bottom: 8px;
      }
      &>p{
        background: linear-gradient(91.07deg, var(--secondary-1-start) 4.72%, var(--secondary-1-end) 73%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &-to{
      text-align: right;
    }
    &-line{
      position: absolute;
      left: 50%;
      height: calc(100% - 32px);
      background-color: var(--gray-4);
      width: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
    
  }
}
